form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    input[type='submit'] {
        border: none;
        border-radius: 5px;
        outline: none;
        background-color: #0063B8;
        color: white;
        cursor: pointer;
        height: 31px;
        width: 60px;
        margin-top: 31px;
        flex: 3;
    }
}