.form-input {
    margin-top: 10px;

    label {
        font-size: 12px;
    }

    input {
        outline: none;
        font-size: 12px;
        width: 80%;
        height: 25px;
    }

    span {
        color: rgb(209, 50, 50);
        font-size: 11px;
        font-style: italic;
    }
}